* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    line-height: normal;
    background-color: rgb(231, 0, 4);
  }

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem 2rem;
    background-color: #ffffff00; 
    z-index: 1000; 
}

.header a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
    letter-spacing: 0.02363rem;
}

.header .title {
    grid-column: 1 / 2; 
    text-decoration: line-through;
}

.header .about-link {
    grid-column: 3 / 4;
    justify-self: start; 
    
}

.header .index-link {
    grid-column: 12 / 13;
    justify-self: end;
}


/*nav*/
nav {
    display: grid;
    grid-template-rows: repeat(9, 1fr); 
    height: 100vh; 
}

.section {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.section a:first-child {
   text-align: left; 
}

.section a:last-child {
    text-align: right;
}

.section a {
    font-size: 8.125rem;
    color: rgb(0,0,0);
    text-decoration: none;
    font-weight: 600;
    line-height: 7.5rem;
    letter-spacing: -0.40625rem;
}

.section a:hover {
    text-decoration: line-through;
}

/*breakpoint*/
@media (min-width:393px) {
    .section a {
        font-size: 2.2rem;
        line-height: 95%;
        letter-spacing: -0.025rem;
    }
}

@media (min-width:768px) {
    .section a {
        font-size: 5rem;
        line-height: 92%;
        letter-spacing: -0.10625rem;
    }
}


@media (min-width:1032px) {
    .section a {
        font-size: 6.5rem;
        line-height: 92%;
        letter-spacing: -0.20625rem;
    }
}

@media (min-width:1110px) {
    .section a {
        font-size: 8.125rem;
        line-height: 7.5rem;
        letter-spacing: -0.30625rem;
    }
}