* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    line-height: normal;
    background-color: rgb(231, 0, 4);
  }

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem 2rem;
    background-color: #ffffff00; 
    z-index: 1000; 
}

.header a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
    letter-spacing: 0.02363rem;
}

.header .title {
    grid-column: 1 / 2; 
    text-decoration: line-through;
}

.header .about-link {
    grid-column: 3 / 4;
    justify-self: start; 
    
}

.header .index-link {
    grid-column: 12 / 13;
    justify-self: end;
}

.header .about-link:hover {
    text-decoration: line-through;
}

.header .index-link:hover {
    text-decoration: line-through;
}

.header .title:hover {
    font-weight: 600;
}

/*content container*/
.container {
    scroll-snap-type: y mandatory; 
    overflow-y: scroll; 
    height: 100vh;
}

.section {
    scroll-snap-align: start; 
    height: 100vh; 
    width: 100vw;
    display: flex;
    color: rgb(0,0,0);
    padding: 1rem 2rem;
    flex-direction: column;
}

/* section 1 */
.section1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.section1-words, .section1-numbers {
    justify-content: space-between;
    width: 100vw;
    display: flex;
    
}

.section1-words {
    padding-top: 17rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.section1-numbers {
    padding: 2rem 2rem;
}

.section1-words span {
    font-size: 7.9375rem;
    font-weight: 600;
    line-height: 11.1875rem;
    letter-spacing: -0.15875rem;
    text-decoration-line: line-through;
}


.section1-numbers a {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 450;
    line-height: 3.6875rem;
    text-decoration: none;
    color: rgb(0,0,0);
}

.section1-numbers a:hover {
    text-decoration: line-through;
}


/* section 2 */
.section2 {
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-transform: uppercase;
    line-height: 1.375rem;
    letter-spacing: -0.01rem;
    font-size: 1rem;
    text-align: justify;
    font-weight: 700;
    padding: clamp(20rem, 10vh, 50rem) clamp(10rem, 40vw, 40rem);
}

/* section 3*/
.section3 {
    background-color: rgb(231, 0, 4);
    font-size: 12rem;
    font-style: normal;
    font-weight: 600;
    line-height: 9.6875rem;
    letter-spacing: -0.325rem;
    padding-left: 2rem;
    padding-top: 5rem;
}

/*breakpoint*/
@media (max-width: 1360px) {
    .section1-words span {
        font-size: 6.5rem; 
        line-height: 4.5rem;
        letter-spacing: -0.05rem;
        margin-bottom: 1rem; 
    }
}

@media (max-width:1125px) {
    .section1-words {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .section1-words span {
        font-size: 5rem; 
        line-height: 3rem;
        letter-spacing: -0.05rem;
        margin-bottom: 1rem; 
    }

    .section1-numbers a {
        margin: 0.5rem; 
        font-size: 1rem; 
        line-height: 2rem;
    }
}

@media (max-width:393px) {
    .section3 {
        font-size: 11rem;
    }

    .section1-words span {
        font-size: 5rem; 
        line-height: 3rem;
        letter-spacing: -0.05rem;
        margin-bottom: 1rem; 
    }

}