* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    line-height: normal;
    background-color: rgb(231, 0, 4);
  }

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem 2rem;
    background-color: #ffffff00; 
    z-index: 1000; 
}

.header a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
    letter-spacing: 0.02363rem;
}

.header .title {
    grid-column: 1 / 2; 
    text-decoration: line-through;
}

.header .about-link {
    grid-column: 3 / 4;
    justify-self: start; 
    
}

.header .index-link {
    grid-column: 12 / 13;
    justify-self: end;
}

.header .about-link:hover {
    text-decoration: line-through;
}

.header .index-link:hover {
    text-decoration: line-through;
}

.header .title:hover {
    font-weight: 600;
}

/*about*/
/* About section */
div {
    margin-top: 3rem; 
    display: grid;
    padding: 0 2rem; 
    padding-bottom: 4rem;
}

div p {
    text-align: left;
    color: rgb(0,0,0);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.015rem;
    text-transform: uppercase;
}

/*breakpoint*/
@media (min-width:768px) {
    div {
        grid-template-columns: repeat(12, 1fr); 
    }

    div p {
        grid-column: 3 / 11; 
        font-size: 1.875rem;
        line-height: normal;
    }
}